.adicionais {
    background: linear-gradient(90deg, #B69BFF 7.89%, #FFF 107.36%);
    padding-block: 100px;

    .container {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__text {
        flex: 1;
        display: flex;
        flex-direction: column;

        h2 {
            color: $color-darkblue;
            font-size: 4rem;
            margin-bottom: 20px;
            margin-top: 10px;
            width: 80%;
            line-height: 70px;
            letter-spacing: -2.5px;
            font-family: "Geist-Semi-Bold", Arial, Helvetica, sans-serif;
        }

        span {
            display: inline-block;
            font-size: 1.5rem;
            line-height: 2rem;
            width: 80%;
            color: $color-darkblue;
            margin-bottom: 30px;
        }
    }

    &__cards {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        &-card {
            padding: 30px;
            border-radius: 16.52px;
            border: 1.502px solid var(--stroke, rgba(34, 13, 102, 0.49));
            background: #1212130c;

            h3 {
                font-family: "Geist-Semi-Bold", Arial, Helvetica, sans-serif;
                margin-bottom: 20px;
                color: $color-darkblue;
                font-size: 1.375rem;
            }

            p {
                @include small-font;
                font-weight: lighter;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $color-darkblue;
            }
        }
    }
}