@keyframes floating {
    100% {
        transform: translateY(10px);
    }
}

@keyframes pulse {
    0%, 100% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0; 
    }
}

@keyframes falling {
    0% {
        transform: translateX(-100%);
    }

    100% {
        opacity: .5;
        transform: translateX(100%);
    }
}