@keyframes floating {
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes pulse {
    0%, 100% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0; 
    }
}

@keyframes falling {
    0% {
        top: 0;

    }

    50% {
        opacity: .4;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}

@keyframes falling-down {
    0% {
        right: 12%;
        top: 20%;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        right: 100%;
        top:70%;
        opacity: 0;
    }
}

@keyframes shining {
    0% {
        opacity: .3;
    }

    100% {
        opacity: .7;
    }
}

@keyframes rotate {
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes fade-down {
    0% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-1600px, 0);
    }
}