@keyframes arrow-floating {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .75;
    }

    100% {
        opacity: 0;
        bottom: 20px;
    }
}

@keyframes floating {
    100% {
        top: 60px;
    }
}

@keyframes slide-left {
    0% {
        left: 0;
        opacity: .3;
    }

    20% {
        opacity: .7;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: .7;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: .7;
    }

    100% {
        left: 90%;
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes floating-planet {
    100% {
        margin-top: 15px;
    }
}

@keyframes pulse {
    0%, 100% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0; 
    }
}

@keyframes pulseBorder {
    0% {
        box-shadow: none;
    }

    100% { 
        box-shadow: 1px 1px 14px 1px rgb(169, 147, 237);
    }
}

@keyframes movement {
    0% {
        right: 0;
        transform: rotate(0);
        transform-origin: top;
        opacity: 0;
        visibility: visible;
    }

    50% {
        opacity: 1;
    }

    100% {
        right: 100%;
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes falling {
    0% {
        top: 0;

    }

    50% {
        opacity: .4;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}

@keyframes falling-down {
    0% {
        right: 12%;
        top: 20%;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        right: 100%;
        top:70%;
        opacity: 0;
    }
}

@keyframes shining {
    0% {
        opacity: .3;
    }

    100% {
        opacity: .7;
    }
}

@keyframes rotate {
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes rotateX {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-down {
    0% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-1600px, 0);
    }
}