.diferenciais {
    background: linear-gradient(to top, $color-black, rgba(22,10,58,.91));
    background-size: cover;
    background-position: center;
    padding-block: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__upper {
        text-align: center;
        margin-bottom: 90px;

        h2 {
            margin-bottom: 20px;
        }

        p {
            @include small-font;
        }
    }

    &__bottom {
        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;

        &-card {
            padding: 60px 30px;
            // border-radius: 0 12px 0 12px;
            border: 1.502px 1.502px 0 0 solid var(--stroke, rgba(157, 144, 200, 0.49));
            background: repeating-linear-gradient(to right, rgba(175, 148, 255, 0.05), rgba(175, 148, 255, 0.04) 20%);
            position: relative;
            margin-bottom: 20px;

            &::before {
                display: block;
                content: "";
                width: 104%;
                height: 20px;
                background:linear-gradient(to right, rgba(175, 148, 255, 0.05) 20%, transparent 50%,rgba(175, 148, 255, 0.05) 80%);
                position: absolute;
                top: -20px;
                left: 50%;
                border-radius: 12px 12px 0 0;
                transform: translateX(-50%);
            }

            &::after {
                display: block;
                content: "";
                width: 104%;
                height: 20px;
                background:rgba(175, 148, 255, 0.05);
                position: absolute;
                bottom: -20px;
                left: 50%;
                border-radius: 0 0 12px 12px;
                transform: translateX(-50%);
            }

            h3 {
                font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                margin-top: 10px;
                margin-bottom: 20px;
                color: $color-white;
                font-size: 1.5rem;  
            }

            img {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                top: -43px;
            }

            p {
                @include small-font;
                font-weight: lighter;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }

}