.diferenciais {
    background: $linear-gradient-reverse;
    padding-top: 120px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__upper {
        text-align: center;
        margin-bottom: 40px;

        h2 {
            @include big-font;
            font-size: 2.5rem;
            letter-spacing: -2px;
            margin-bottom: 20px;
        }

        p {
            @include small-font;
        }
    }

    &__bottom {
        display: grid;
        margin-top: 40px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        &-card {
            padding: 30px;
            border: 1px solid $color-light;
            border-radius: 10px;
            position: relative;

            h3 {
                margin-top: 30px;
                margin-bottom: 20px;
                color: $color-white;
                font-size: 1.375rem;
            }

            img {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                top: -37px;
            }

            p {
                @include small-font;
                font-weight: lighter;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }

}