.diferenciais {
    background: $linear-gradient-reverse;
    background-size: cover;
    background-position: center;
    padding-block: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__upper {
        text-align: center;
        margin-bottom: 90px;

        h2 {
            margin-bottom: 20px;
        }

        p {
            @include small-font;
        }
    }

    &__bottom {
        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        &-card {
            padding: 50px 30px;
            position: relative;
            margin-bottom: 20px;
            border-radius: 12px;
            background: linear-gradient(90deg, rgba(180, 153, 255, 0.06) 5.07%, transparent);

            h3 {
                font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                margin-top: 10px;
                margin-bottom: 20px;
                color: $color-white;
                font-size: 1.5rem;  
            }

            img {
                position: absolute;
                transform: translateY(-50%);
                left: -43px;
                top: 50%;
            }

            p {
                @include small-font;
                font-weight: lighter;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $color-grey;
            }
        }
    }
}