.cta-wrapper {
    background: linear-gradient(to top, $color-black, $color-darkblue);
    padding-block: 120px;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        span {
            text-align: center;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            flex-direction: column-reverse;

            &::after {
                content: url("/assets/images/Icon_Mini.svg");
                animation: shining infinite 1s alternate;
            }
        }

        a {
            @include small-font;
            color: $color-light;
            border: 1px solid $color-light;
            border-radius: 20px;
            padding: 16px 24px;
            display: flex;
            align-items: center;
            gap: 4px;
            transition: box-shadow .5s ease;

            &:hover {
                box-shadow: 1px 1px 10px 4px rgba(169, 147, 237, 0.51);
            }
        }
    }
}

footer {
    background-color: $color-black;
    padding-block: 40px;
    
    .footer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__politicas {
            display: flex;
            gap: 15px;

            a {
                color: $color-white;
                font-size: 0.875rem;
            }
        }
    }
}

.copy {
    padding-block: 7px;

    span {
        font-size: 0.75rem;
        color: $color-lightblue;
    }
}