footer {
    background-color: $color-black;
    padding-block: 40px;
    
    .footer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__politicas {
            display: flex;
            gap: 15px;

            a {
                color: $color-white;
                font-size: 0.875rem;
            }
        }
    }
}

.copy {
    padding-block: 7px;

    span {
        font-size: 0.75rem;
        color: $color-lightblue;
    }
}