@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Geist-Bold';
    src: url('/assets/fonts/Geist-Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Geist-Semi-Bold';
    src: url('/assets/fonts/Geist-SemiBold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Geist-Light';
    src: url('/assets/fonts/Geist-Light.woff2') format('woff2');
    font-style: normal;
}

@mixin big-font {
    color: $color-white;
    font-family: "Geist-Semi-Bold", Arial, Helvetica, sans-serif;
    letter-spacing: -0.181rem;
    background: -webkit-linear-gradient(300deg, $color-white, $color-lightblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}

@mixin small-font {
    color: $color-light;
    font-family: "Geist", Arial, Helvetica, sans-serif;
    letter-spacing: -0.075px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background-color: $color-darkblue;
    font-family: "Geist", sans-serif;
    overflow-x: hidden;

}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 6%;
}

.arrow-down {
    bottom: 50px;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: $color-light;
    border-radius: 49px;
    padding: 12px 20px;
    @include small-font;
    font-size: .875rem;
    color: $color-black;
    z-index: 4;
    transition: box-shadow .5s ease;

    &:hover {
        box-shadow: 1px 1px 10px 4px rgba(169, 147, 237, 0.51);
    }
}

.cta-btn__desktop,
.cta-btn__mobile {
    animation: pulseBorder 2s infinite alternate;
    transition: opacity .5s ease-in-out;

    &:hover {
        opacity: .8;
    }
}

.cta-btn__mobile {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $color-light;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;
    transition: box-shadow .5s ease;
    box-shadow: 1px 1px 10px 2px rgba(169, 147, 237, 0.51);

    &:hover {
        box-shadow: 1px 1px 10px 4px rgba(169, 147, 237, 0.51);
    }
}

.cta-btn-services {
    display: flex;
    align-items: center;
    gap: 6px;
    @include small-font;
    font-size: 14px;
    color: $color-white;
}

.icon-gradiente {
    z-index: 0;
}

.starfall {
    opacity: 0;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: $color-light;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(255,255,255, .7);
    position: absolute;

    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        background: linear-gradient(to right, $color-light 0%, #d3caec00 100%);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(255,255,255, .6);
        opacity: .5;
        transform: rotate3d(0, 0, 1, 353deg);
    }
}

.title-2 {
    @include big-font;
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 70px;
}

.title-1 {
    @include big-font;
    font-size: 4rem;
    line-height: 68px;
}

.before-title {
    background-color: #988ac51e;
    border: 1px solid #988ac559;
    color: #988ac5c0;
    padding: 12px 30px;
    border-radius: 58px;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.lgpd {
    padding: 80px 0;
    color: #d1d1d1;

    h2 {
        color: #d1d1d1;
        margin-bottom: 20px;
    }

    h3 {
        margin: 25px 0px 5px 0;
    }

    a {
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        text-transform: uppercase;
        padding: 10px 26px;
        display: inline-block;
        color: #d1d1d1;
        font-weight: 300;
        font-size: 0.875rem;
        letter-spacing: 2px;
        margin-top: 30px;
        transition: opacity .5s ease;
    
        &:hover {
            opacity: .5;
        }
    }
}