.portfolio {
    background: $linear-gradient;
    padding-block: 90px;

    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;

        &:hover img:not(:hover) {
            opacity: .4;
        }

        img {
            transition: transform 1s ease, opacity 1s ease;
            border-radius: 10px;
            object-fit: cover;
            width: 100%;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}