.portfolio {
    background: $linear-gradient;
    padding-top: 100px;
    position: relative;

    &__bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 40px;

        // &:hover img:not(:hover) {
        //     opacity: .4;
        //     -webkit-filter: blur(1px);
        //     filter: blur(1px);
        // }

        &-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                margin: 0;
                width: 100%;
            }

            .before-title {
                align-self: flex-start;
            }

            p {
                margin-top: 20px;
                @include small-font;
                color: $color-whiteviolet;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: normal;
                font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                width: 70%;
            }
        }

        &-card {

            .card__info {
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-title {
                    @include small-font;
                    color: $color-whiteviolet;
                    font-size: 0.75rem;
                    letter-spacing: 2.88px;
                    text-transform: uppercase;
                }

                &-type {
                    text-align: center;
                    color: $color-whiteviolet;
                    font-size: 0.675rem;
                    letter-spacing: 2.88px;
                    text-transform: uppercase;
                    padding: 9px 24px;
                    border-radius: 68px;
                    border: 1px solid rgba(196, 175, 255, 0.12);
                    background: rgba(196, 175, 255, 0.04);
                }
            }

            img {
                transition: transform 1s ease, opacity 1s ease;
                border-radius: 6px;
                object-fit: cover;
                width: 100%;

                &:hover {
                    transform: scale(1.05);
                }
            }

            p {
                margin-top: 20px;
                @include small-font;
                color: $color-grey;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: normal;
                font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                margin-bottom: 20px;
                padding: 20px;
                background-color: #c4afff11;
                border-radius: 6px;
            }
        }
    }

    &__list {
        margin-block: 90px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: scroll;
        position: relative;
        pointer-events: none;

        &:hover &-itens{
            animation-play-state: paused;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &::before, &::after {
            position: absolute;
            content: "";
            display: block;
            width: 200px;
            height: 100%;
            top: 0;
            z-index: 2;
        }

        &::before {
            left: 0;
            background: linear-gradient(to left, transparent, $color-darkblue);
        }

        &::after {
            right: 0;
            background: linear-gradient(to right, transparent, $color-darkblue);
        }

        &-itens {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            animation: slide 30s linear infinite;
        }

        &-item {
            width: 200px;
            background-color: #2C375F22;
            min-width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            border-radius: 12px;
            margin: 0 5px;
        }
    }
}