@media (max-width: 960px) {
    .container {
        padding: 0 3%;
    }

    .beneficios {
    
        &__bottom {
            gap: 20px;
        }
    }

    .diferenciais {
    
        &__bottom {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            row-gap: 50px;
        }
    }

    .portfolio {
    
        &__bottom {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }

    .servicos {
    
        .container {
            gap: 20px;
        }
    
        &__left {
    
            &-cards {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 767px) {
    .title-1 {
        font-size: 3.25rem;
        line-height: 54px;
        letter-spacing: -1.7px;
    }

    .beneficios {
    
        &__bottom {
            grid-template-columns: repeat(2 , 1fr);
    
            &-card {


                &:last-child {
                    grid-column: -3 / -1;
                }
            }
        }
    }

    .wrapper {
        padding-block: 90px;

        &__text {
            flex: 2;

            span {
                font-size: 1.5rem;
            }
        }

        &__star {

            .planet {
                top: 30px;
            }

            img {
                display: none;
            }
        }
    }

    .servicos {
        background: url("/assets/images/wrapper-servicos-mobile.jpg");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;

        .container {
            flex-direction: column;
            gap: 30px;
        }
    

        &__right {
            align-items: center;
            text-align: center;
        }

    }

    .adicionais {
        padding-block: 60px;
        .container {
            flex-direction: column;
            gap: 20px;
        }

        &__text {

            span {
                width: 100%;
            }
        }

        &__cards {
            gap: 10px;

            &-card {
                padding: 20px;

            }
        }
    }

    .faq {
    
        &-lista {
            width: 100%;
            
        }
    }    
}

@media (max-width: 576px) {
    .title-1 {
        font-size: 2.5rem;
        line-height: 46px;
    }

    .title-2 {
        font-size: 2.25rem;
    }

    header {
        height: 75px;

        nav {
            justify-content: center;

            .cta-btn__desktop {
                display: none;
            }
        }
    }

    .cta-btn__mobile {
        display: flex;
    }

    .icon-gradiente {
        display: none;
    }

    .arrow-down {
        bottom: 80px;
    }

    .beneficios {
    
        &__bottom {
            grid-template-columns: 1fr;
    
            &-card {

                &:last-child {
                    grid-column: auto;
                }
            }
        }
    }

    .wrapper {

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        &__star {
            display: none;
        }
    }

    .diferenciais {
    
        &__bottom {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }

    .portfolio {
    
        &__bottom {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    .servicos {
        padding-top: 0;
    
        .container {
            flex-direction: column;
            gap: 30px;
        }
    
        &__grid {
            display: grid;
            grid-template-columns: 1fr;

            .servicos__card {

                &:first-child {
                    h4 {
                        font-size: 2.5rem;
                    }

                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    .adicionais {
        &__text {
    
            h2 {
                font-size: 2.5rem;
            }
    
            span {
                font-size: 1.25rem;
                margin-bottom: 15px;
            }
        }
    }

    footer {
        padding-block: 20px;
        
        .footer-menu {
            flex-direction: column;
            gap: 40px;
        }
    }
}

@media (max-width: 400px) {
    .adicionais {

        &__cards {
            grid-template-columns: 1fr;
        }
    }
}