.servicos {
    background: linear-gradient(to top, $color-darkblue, $color-darkblue);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-block: 100px;
    position: relative;
    scroll-margin-top: 90px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__upper {
        text-align: center;
        margin-bottom: 60px;

        svg {
            animation: shining alternate infinite 1s;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 10px;

        .servicos__card {
            border-radius: 6px;
            background: linear-gradient(180deg, rgba(180, 153, 255, 0.11) 0.65%, transparent);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            border-top: 1px solid #b499ff85;
            border-inline: 1px solid #b499ff33;
            transition: all .7s ease-in-out;
            position: relative;

            &:not(:last-child)::before {
                border-radius: 12px;
                content: 'OFERTA DE LANÇAMENTO AESTY';
                font-size: 0.675rem;
                display: block;
                width: 80%;
                height: auto;
                text-align: center;
                background: $color-darkblue;
                color: $color-violet;
                font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                padding: 6px 14px;
                top: -14px;
                border: 1px solid $color-violet;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
            }

            &-text {
                padding: 50px 20px;

                .servicos__subheading {
                    display: inline-block;
                    @include small-font;
                    color: $color-white;
                    font-size: 0.875rem;
                    margin-bottom: 25px;
                }

                h3 {
                    @include title-font;
                    color: $color-white;
                    font-size: 32px;
                    letter-spacing: -1.4px;
                    padding-bottom: 0;
                    margin-bottom: 5px;
                }
    
                p {
                    @include small-font;
                    font-size: 1rem;
                    font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                    line-height: 1.5rem;
                    color: $color-whiteviolet;
                }

                .servicos__preco {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    &-apartir {
                        @include small-font;
                        color: $color-whiteviolet;
                        font-size: 0.875rem;
                    }

                    &-precos {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                    }

                    &-promo {
                        color: $color-whiteviolet;
                        font-size: 18px;
                        letter-spacing: -0.9px;
                        position: relative;

                        &::after {
                            display: block;
                            background-color: $color-white;
                            width: 105%;
                            height: 2px;
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%)
                        }
                    }    

                    &-valor {
                        @include title-font;
                        padding-bottom: 0;
                        font-size: 32px;
                        letter-spacing: -1.429px;

                    }

                    p {
                        @include small-font;
                        color: $color-white;
                        font-size: 0.875rem;
                        margin-top: 5px;
                        font-family: "Geist-Light", Arial, Helvetica, sans-serif;
                    }
                }
            }

            .cta-btn-outline {
                display: inline-block;
                @include title-font;
                font-size: 1rem;
                letter-spacing: -0.5px;
                font-family: "Geist", Arial, Helvetica, sans-serif;
                padding: 14px 28px;
                border-left: 1px solid $color-white;
                border-right: 1px solid $color-violet;
                border-top: 1px solid $color-white;
                border-bottom: 1px solid $color-violet;
                border-radius: 6px;
                width: 70%;
                margin-left: 20px;
                margin-bottom: 40px;
                transition: transform 2s ease;

                &:hover {
                    transform: translateY(15%);
                }
            }
        }
    }
}