.wrapper {
    // background: rgb(195,126,154);
    // background: -moz-linear-gradient(120deg, rgba(195,126,154,1) 0%, rgba(230,133,227,1) 10%, rgba(150,121,236,1) 25%, rgba(68,107,228,1) 50%, rgba(60,75,203,1) 70%, rgba(22,10,58,1) 100%);
    // background: -webkit-linear-gradient(120deg, rgba(195,126,154,1) 0%, rgba(230,133,227,1) 10%, rgba(150,121,236,1) 25%, rgba(68,107,228,1) 50%, rgba(60,75,203,1) 70%, rgba(22,10,58,1) 100%);
    // background: linear-gradient(240deg, rgba(195,126,154,1) 0%, rgba(230,133,227,1) 5%, rgba(150,121,236,1) 25%, rgba(68,107,228,1) 50%, rgba(60,75,203,1) 70%, rgba(22,10,58,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c37e9a",endColorstr="#160a3a",GradientType=1);
    background: linear-gradient(240deg,rgba(22,10,58,1), #3c4c84, #242a4d, rgba(22,10,58,1));
    padding-block: 180px;

    .container {
        display: flex;
        align-items: center;
        gap: 40;
    }

    &__text {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;

        span {
            margin-top: 20px;
            display: block;
            text-align: left;
            font-size: 2.5rem;
            color: $color-white;
            font-family: "Geist-Light";
        }
    }

    &__star {
        flex: 1;
        position: relative;

        .planet {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            background-color: $color-light;
            border-radius: 50%;
            box-shadow: 2px 2px 10px rgba(110, 110, 110, 0.7);
            position: absolute;
            right: 0;
            top: -200px;
        }

        .star {
            position: absolute;
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background-color: $color-light;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(255,255,255, .7);
        }

        img {
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
            animation: movement 10s alternate-reverse 1.5s infinite;
            visibility: hidden;
        }
    }
}